
body {
    font-family: 'Bangers', cursive;
    background-color: #2c3e50;
    color: #ecf0f1;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: linear-gradient(135deg, #4834d4, #686de0);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-collapse ul {
    list-style: none;
    padding: 0;
  }
  
  .nav-collapse ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .nav-collapse ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
  }
  
  .nav-collapse ul li a:hover {
    color: #000000;
  }
  
  .content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  
  .article {
    grid-column: 1 / 2; 
  }
  
  .image {
    grid-column: 2 / 3; 
  }
  
  .team-member h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .team-member p {
    font-size: 16px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto; 
    gap: 20px; 
}

#top{
    font-size: 30px;
}

.content {
    grid-column: 1 / 2; 
    margin-top: 80px; 
    margin-left: 200px; 
}

.image {
    grid-column: 2 / 3; 
    margin-top: 30px;
    margin-right: 200px; 
    margin-bottom: 100px;
}



@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; 
        gap: 10px;
        justify-items: center; 
    }

    .content {
        grid-column: 1 / 2; 
        margin: 20px;
    }


    .image {
        grid-column: 1 / 2; 
        margin: 20px; 
        margin-bottom: 100px;
    }


}


footer {
    background-color: #30336b;
    color: #ffffff;
    text-align: center;
    padding: 12px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

  
